<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<Aoe_CacheCleaner>
			<active>true</active>
			<codePool>local</codePool>
			<version>0.0.2</version>
		</Aoe_CacheCleaner>
	</modules>

	<global>

		<models>
			<aoecachecleaner>
				<class>Aoe_CacheCleaner_Model</class>
			</aoecachecleaner>
		</models>

		<helpers>
			<aoecachecleaner>
				<class>Aoe_CacheCleaner_Helper</class>
			</aoecachecleaner>
		</helpers>

	</global>

	<crontab>
		<jobs>
			<aoecachecleaner>
				<schedule><config_path>system/cachecleaner/scheduler_cron_expr</config_path></schedule>
				<run><model>aoecachecleaner/cleaner::clean</model></run>
			</aoecachecleaner>
		</jobs>
	</crontab>

	<default>
		<system>
			<cachecleaner>
				<scheduler_cron_expr>18 * * * *</scheduler_cron_expr>
			</cachecleaner>
		</system>
	</default>

</config>